.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      app-button {
        margin: 5px;
      }
    }

    .min-with {
      width: 120px;
    }

    .middle-with {
      width: 180px;
    }
  }

  .invoices {
    flex-wrap: wrap;
    overflow-y: auto;
  }
}
