mat-dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-dialog-actions {
  .buttons {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    me-button {
      margin-left: 20px;
    }
  }
}

h1 {
  text-align: center;
}
