<div class="header">
  <app-search-input (changeEvent)="searchInputEvent($event)"></app-search-input>
</div>

<div class="content">
  <ng-container *ngFor="let item of items">
    <app-selection-item
      class="item"
      [dataModel]="item"
      (click)="handleItemClick(item)"
      *ngIf="isSearchSatisfied(item.name)"
      [itemSize]="itemSize"
    ></app-selection-item>
  </ng-container>
</div>
<div class="actions">
  <app-button
    [text]="'cancel' | translate"
    color="secondary"
    (clickEvent)="cancelSaveSelection()"
    [buttonSize]="'middle'"
  ></app-button>
</div>
