<div class="main-container">
  <div
    class="grid-container"
    style="grid-template-columns: {{ gridTemplateColumnsCssStyle }}"
  >
    <div class="grid-item header" *ngFor="let item of dataModel.header">
      {{ item }}
    </div>
    <div class="grid-item header">{{ "edit" | translate }}</div>
    <div class="grid-item header">{{ "deleteActivate" | translate }}</div>
    <ng-container *ngFor="let row of dataModel.rowData; let i = index">
      <ng-container *ngIf="(showDeleted && row.isDeleted) || !row.isDeleted">
        <div
          class="grid-item"
          [class.is-deleted]="row.isDeleted"
          *ngFor="let field of row.data"
        >
          {{ field }}
        </div>
        <div class="grid-item" [class.is-deleted]="row.isDeleted">
          <app-button
            [buttonSize]="'extrasmall'"
            [iconName]="'edit'"
            [color]="'secondary'"
            (clickEvent)="clickEditData(i)"
          ></app-button>
        </div>
        <div class="grid-item" *ngIf="!row.isDeleted">
          <app-button
            [buttonSize]="'extrasmall'"
            [iconName]="'trash-2'"
            [color]="'secondary'"
            (clickEvent)="clickDeleteData(i)"
          ></app-button>
        </div>
        <div class="grid-item is-deleted" *ngIf="row.isDeleted">
          <app-button
            [buttonSize]="'extrasmall'"
            [iconName]="'check'"
            [color]="'secondary'"
            (clickEvent)="clickDeleteData(i)"
          ></app-button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
