<div class="main-container">
  <div class="content" *ngIf="items.length > 0">
    <app-form #form [items]="items"></app-form>
    <div class="buttons">
      <app-button
        [text]="'cancel' | translate"
        color="secondary"
        [buttonSize]="'middle'"
        (clickEvent)="cancel()"
      ></app-button>
      <app-button
        [text]="'save' | translate"
        [color]="'success'"
        [buttonSize]="'middle'"
        [disabled]="!(form.objectForm.dirty && form.objectForm.valid)"
        (clickEvent)="submit(form.objectForm.value)"
      ></app-button>
    </div>
  </div>
</div>
