.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    overflow-x: hidden;
  }

  .buttons {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
}

.mat-mdc-form-field {
  display: block;
  max-width: 500px;
}
