<div class="container">
  <div class="header">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      [buttonSize]="'small'"
      (clickEvent)="cancel()"
    ></app-button>
    <mat-checkbox
      class="example-margin"
      [checked]="showDeleted"
      [color]="'primary'"
      (change)="showDeletedEvent($event.checked)"
    >
      {{ "showDeleted" | translate }}
    </mat-checkbox>
    <app-button
      [text]="'createNew' | translate"
      [color]="'success'"
      [buttonSize]="'small'"
      (clickEvent)="createNewData()"
    ></app-button>
  </div>
  <app-table-show
    [dataModel]="table"
    *ngIf="table"
    (editData)="clickEditData($event)"
    (deleteData)="clickDeleteData($event)"
    [showDeleted]="showDeleted"
  ></app-table-show>
</div>
