.main-container {
  height: 100%;
  width: 100%;

  .form {
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: 100%;
    min-width: 500px;
    flex-wrap: wrap;

    .half-width {
      flex-basis: calc(50% - 10px);
      margin-right: 10px;
    }

    .full-width {
      flex-basis: 100%;
    }
  }
}

mat-form-field {
  width: 100%;
}