<div class="main-container">
  <form [formGroup]="objectForm" class="form">
    <mat-form-field *ngFor="let item of formControls">
      <ng-container *ngIf="item.entity.type === 'string'">
        <mat-label>{{ item.entity.label.value }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="item.formControl"
          [errorStateMatcher]="matcher"
          placeholder="{{ item.entity.label.value }}"
          (click)="inputText(item)"
        />
      </ng-container>
      <ng-container *ngIf="item.entity.type === 'number'">
        <mat-label>{{ item.entity.label.value }}</mat-label>
        <input
          type="number"
          matInput
          [formControl]="item.formControl"
          [errorStateMatcher]="matcher"
          placeholder="{{ item.entity.label.value }}"
          (click)="inputNumber(item)"
        />
      </ng-container>
      <ng-container *ngIf="item.entity.type === 'select'">
        <mat-label>{{ item.entity.label.value }}</mat-label>
        <mat-select
          [formControl]="item.formControl"
          [errorStateMatcher]="matcher"
        >
          <mat-option
            *ngFor="let option of item.entity.optionalValues"
            [value]="option.key"
          >
            {{ option.value }}
          </mat-option>
        </mat-select>
      </ng-container>
    </mat-form-field>
  </form>
</div>
