<div class="container">
  <div class="invoice-header" *ngIf="componentMode === 'DRAFT'">
    <app-button
      [iconName]="'plus'"
      [iconPosition]="'left'"
      [fullWidth]="true"
      [text]="'framing' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="create('framing')"
      class="button"
    ></app-button>
    <app-button
      [iconName]="'plus'"
      [iconPosition]="'left'"
      [fullWidth]="true"
      [text]="'glassing' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="create('glassing')"
      class="button"
    ></app-button>
  </div>
  <div class="invoice-header" *ngIf="componentMode !== 'DRAFT'"></div>
  <div class="invoice-items">
    <div class="grid-container">
      <div class="grid-item table-header">
        {{ "description" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "price" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "delete" | translate }}
      </div>
      <div class="grid-item sum">{{ "sum" | translate }}:</div>
      <div class="grid-item price">
        {{ 10111 | number : "1.2-2" }}&nbsp;{{ currency }}
      </div>
      <div class="grid-item"></div>
      <div class="grid-item sum"></div>
    </div>
  </div>
  <div class="buttons">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="cancel()"
    ></app-button>
    <app-button
      [text]="'print' | translate"
      color="success"
      [buttonSize]="'middle'"
    ></app-button>
  </div>
</div>
